@use 'setup' as *;
@use 'functions' as *;

// =============================================================================
// Mixins
// =============================================================================

// Type
// =============================================================================

@mixin h1 {
	@include serif(normal);

	font-size: base_clamp(32px, 50px);
	line-height: 1.25;
}

@mixin h2 {
	@include serif(normal);

	font-size: base_clamp(28px, 46px);
	line-height: 1.3;
}

@mixin h3 {
	@include serif(normal);

	font-size: base_clamp(20px, 28px);
	line-height: 1.5;

	@media print {
		font-size: 11px;
	}
}

@mixin h4 {
	@include serif(normal);

	font-size: base_clamp(16px, 26px);
	line-height: 1.4;
}

@mixin h5 {
	@include serif(600);

	font-size: base_clamp(18px, 25px);
	line-height: 1.5;
}

@mixin h6 {
	@include serif(600);

	font-size: 24px;
	letter-spacing: 1px;
	line-height: 1.3;
}

@mixin intro_text {
	font-size: base_clamp(18px, 26px);
	font-weight: 500;
	line-height: base_clamp(1.4, 1.7);
}

@mixin body_text {
	@include sans();

	font-size: base_clamp(16px, 22px);
	line-height: base_clamp(1.5, 1.75);

	@media print {
		font-size: 10px;
		line-height: 1.5;
	}
}

@mixin small_text {
	font-size: 14px;
	line-height: 1.75;

	@media #{$min_md} {
		font-size: 16px;
	}
}

@mixin label_text($weight: normal) {
	font-weight: $weight;
	font-size: base_clamp(14px, 20px);
	letter-spacing: 0.5px;

	@media print {
		font-size: 10px;
	}
}

@mixin caption_text {
	font-size: 12px;
	line-height: 1.6;
}

@mixin remove_list {
	list-style: '';
	margin-block: 0;
	padding-inline-start: 0;
}

@mixin visually_unhide() {
	width: auto;
	height: auto;

	position: static;

	clip: auto;
	margin: 0;
	overflow: visible;
}

@mixin visually_hide() {
	width: 1px;
	height: 1px;

	position: absolute;

	border: 0;
	clip: rect(0 0 0 0);
	margin: -1px;
	overflow: hidden;
	padding: 0;

	&.focusable:active,
	&.focusable:focus {
		@include visually_unhide();
	}
}

@mixin page_link {
	color: var(--accent);
	text-decoration: underline;
	text-decoration-color: var(--accent);
	text-decoration-thickness: 1px;
	text-underline-offset: 3px;
	transition:
		text-decoration-color $base_speed,
		color $base_speed;

	@media print {
		text-decoration: none;
		color: inherit;
	}

	@include hover {
		text-decoration-color: currentColor;
		color: inherit;
	}
}

// Components
// =============================================================================

@mixin landmark_padding {
	max-width: 1400px;

	margin-block: 0;
	margin-inline: auto;
	padding-inline: base_clamp(25px, 60px);

	@media print {
		max-width: none;

		padding: 0;
	}
}

@mixin component {
	@media #{$min_xl} {
		margin-block-end: 80px;
	}
}

@mixin component_title {
	@include label_text(700);

	margin: 0;
	margin-block-end: 20px;

	@media print {
		margin-bottom: 4px;
	}
}

@mixin component_body {
	@include body_text;

	position: relative;

	padding-inline-start: base_clamp(20px, 40px);

	@media print {
		padding-inline-start: 0;
	}

	&::before {
		width: 1px;

		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;

		background-color: currentColor;
		content: '';
		opacity: 0.2;
		pointer-events: none;

		@media (prefers-contrast: more) {
			opacity: 0.5;
		}

		@media (forced-colors: active) {
			background-color: CanvasText;
			opacity: 1;
		}

		@media print {
			content: normal;
			display: none;
		}
	}
}

@mixin component_grid {
	@media #{$min_md} {
		display: grid;
		grid-gap: base_clamp(40px, 60px);
		grid-template-columns: 35% 1fr;
	}

	@media print and (min-width: 550px) {
		display: grid;
		grid-gap: 40px;
		grid-template-columns: 25% 1fr;
	}
}

@mixin component_item {
	margin: 0;
	margin-block-end: base_clamp(40px, 60px);

	@media print {
		margin-block-end: 20px;
	}
}

@mixin component_item_header {
	margin-block-end: 18px;
}

@mixin component_grid_header {
	@media #{$min_md} {
		margin-block-end: 0;
	}
}

@mixin component_item_title {
	@include h3;

	margin: 0;
	margin-block-end: 2px;
}

@mixin component_item_subtitle {
	@include label_text(normal);

	margin: 0;
	margin-block-end: 4px;

	@media print {
		margin-block-end: 2px;
	}
}

@mixin component_list {
	list-style-type: disc;
	padding-inline-start: 20px;

	@media #{$min_md},
	print and (min-width: 550px) {
		margin-inline-start: -20px;
	}
}

@mixin component_list_item {
	margin-block: base_clamp(8px, 20px);
	margin-inline: 0;

	@media print {
		margin-block: 4px;
	}
}

/* Utility
============================================================================= */

@mixin hover($focus: true) {
	@if $focus {
		&:focus-visible {
			@content;
		}
	}

	@media (hover: hover) {
		&:hover {
			@content;
		}
	}
}
