@use '../base/setup' as *;
@use '../base/mixins' as *;
@use '../base/functions' as *;

/* ==========================================================================
	Structure
============================================================================= */

html {
}

body {
	color: $gray_dark;
	background-color: #f5f8fa;

	@media (prefers-color-scheme: dark) {
		color: #fff;
		background-color: #1e1e1e;
	}

	@media print {
		background-color: #fff;
		color: #000;
	}
}

::selection {
	background-color: rgba($blue, 0.2);

	@media (prefers-color-scheme: dark) {
		background-color: rgba($pink, 0.4);
	}

	@media (prefers-contrast: more) {
		background-color: rgba($blue, 0.4);
	}

	@media (prefers-contrast: more) and (prefers-color-scheme: dark) {
		background-color: rgba($pink, 0.6);
	}
}

body {
	@media (prefers-contrast: more) {
		color: #000;
		background-color: #fff;
	}

	@media (prefers-contrast: more) and (prefers-color-scheme: dark) {
		color: #fff;
		background-color: #000;
	}
}

.resume {
	@include body_text;

	--accent: #{$blue};

	min-inline-size: 320px;

	font-size: 16px;
	line-height: 1.5;
	text-rendering: optimizeLegibility;

	@media (prefers-color-scheme: dark) {
		--accent: #{$pink};
	}
}

.page {
	@include landmark_padding;

	margin-block-end: 80px;

	a {
		@include page_link;
	}
}

/* Header
============================================================================= */

.header {
	@include landmark_padding;

	margin-block: base_clamp(20px, 40px);
	margin-inline: 0;

	@media print {
		margin-block: 0 30px;
	}
}

.header_title {
	@include h1;

	margin: 0;

	@media print {
		font-size: 20px;
	}
}

/* Footer
============================================================================= */

.footer {
	position: relative;

	padding-block: 20px;

	@media print {
		display: none;
	}

	&::before {
		block-size: 1px;

		position: absolute;
		inset-block-start: 0;
		inset-inline: 0;

		background-color: currentColor;
		content: '';
		opacity: 0.1;
		pointer-events: none;

		@media (prefers-contrast: more) {
			opacity: 0.4;
		}

		@media (forced-colors: active) {
			background-color: CanvasText;
			opacity: 1;
		}
	}
}

.footer_inner {
	@include landmark_padding;
}

.connect {
	align-items: center;
	display: flex;
}

.connect_title {
	@include small_text;

	font-weight: normal;
	margin: 0;
	margin-inline-end: 20px;
}

.connect_list {
	@include remove_list;

	display: flex;
}

.connect_item {
}

.connect_link {
	color: var(--accent);
	display: block;
	padding-block: 10px;
	padding-inline: 20px;
	text-decoration: underline;
	text-decoration-color: var(--accent);
	text-decoration-thickness: 1px;
	text-underline-offset: 3px;
	transition:
		text-decoration-color $base_speed,
		color $base_speed;

	@include hover {
		text-decoration-color: currentColor;
		color: inherit;
	}

	&:first-child {
		margin-inline-start: -20px;
	}
}

.connect_link_label {
}
