<!doctype html>
<html class="no-js" lang="en-US">
	<head>
		<meta charset="utf-8">
		<title>{{ resume.name }}'s Professional Resume</title>
		<meta name="description" content="Professional resume of {{ resume.name }}, a front-end web developer and digital accessibility specialist in Baltimore, Maryland.">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<meta property="og:title" content="{{ resume.name }}">
		<meta property="og:type" content="profile">
		<meta property="og:image" content="images/og.png">

		<link rel="manifest" href="site.webmanifest">
		<link rel="apple-touch-icon" href="icon.png">

		<meta name="theme-color" content="#f5f8fa" media="(prefers-color-scheme: light)">
		<meta name="theme-color" content="#1e1e1e" media="(prefers-color-scheme: dark)">
		<link rel="stylesheet" href="css/site.css">
	</head>
	<body>

		<script type="application/ld+json">
			{
				"@context": "https://schema.org",
				"@type": "Person",
				"name": "{{ resume.name }}",
				"jobTitle": "Digital Accessibility Lead",
				"description": "Front-end web developer and digital accessibility specialist in Baltimore, Maryland.",
				"url": "https://nhall.github.io/resume/",
				"sameAs": [
					"https://www.linkedin.com/in/nhall/",
					"https://github.com/nhall"
				],
				"worksFor": {
					"@type": "Organization",
					"name": "Fastspot"
				},
				"hasOccupation": [
					{
						"@type": "EmployeeRole",
						"roleName": "Digital Accessibility Lead",
						"startDate": "2025",
						"worksFor": {
							"@type": "Organization",
							"name": "Fastspot"
						}
					},
					{
						"@type": "EmployeeRole",
						"roleName": "Senior Developer",
						"startDate": "2014-09",
						"worksFor": {
							"@type": "Organization",
							"name": "Fastspot"
						}
					},
					{
						"@type": "EmployeeRole",
						"roleName": "Web Production Manager",
						"startDate": "2012-08",
						"endDate": "2014-09",
						"worksFor": {
							"@type": "Organization",
							"name": "Finalsite",
							"sameAs": "https://www.finalsite.com/"
						}
					},
					{
						"@type": "EmployeeRole",
						"roleName": "Web Producer",
						"startDate": "2008-06",
						"endDate": "2012-08",
						"worksFor": {
							"@type": "Organization",
							"name": "Silverpoint",
							"sameAs": "https://www.finalsite.com/"
						}
					},
					{
						"@type": "EmployeeRole",
						"roleName": "Web Designer",
						"startDate": "2004-06",
						"endDate": "2008-06",
						"worksFor": {
							"@type": "Organization",
							"name": "G.1440 LLC"
						}
					}
				],
				"hasCredential": [
					{
						"@type": "EducationalOccupationalCredential",
						"credentialCategory": "certification",
						"name": "Certified Professional in Accessibility Core Competencies (CPACC)",
						"url": "https://www.accessibilityassociation.org/cpacccertification"
					},
					{
						"@type": "EducationalOccupationalCredential",
						"credentialCategory": "degree",
						"educationalLevel": "Bachelor of Science",
						"dateCreated": "2004-05",
						"recognizedBy": {
							"@type": "CollegeOrUniversity",
							"name": "Towson University",
							"sameAs": "https://www.towson.edu/"
						}
					}
				],
				"alumniOf": {
					"@type": "CollegeOrUniversity",
					"name": "Towson University",
					"sameAs": "https://www.towson.edu/"
				}
			}
		</script>

		<div class="resume">
			<header class="header">
				<h1 class="header_title">{{ resume.name }}</h1>
			</header>
			<main class="page">
				<section class="skills">
					<h2 class="skills_title">
						<span class="skills_title_label">Summary</span>
					</h2>
					<p class="skill">{{ resume.summary }}</p>
				</section>
				<section class="jobs">
					<h2 class="jobs_title" id="jobs_title">
						<span class="jobs_title_label">Experience</span>
					</h2>
					<ul class="jobs_list" aria-labelledby="jobs_title">
						{% for job in resume.jobs %}
						<li class="job">
							<div class="job_inner">
								<div class="job_header">
									<h3 class="job_title" id="job_title_{{ loop.index }}">
										<span class="job_title_position">{{ job.position }},</span>
										<span class="job_title_company">{{ job.company }}</span>
									</h3>
									<p class="job_location">{{ job.location }}</p>
									<p class="job_time">{{ job.time }}</p>
								</div>
								<div class="job_body">
									<ul class="job_highlights" aria-labelledby="job_title_{{ loop.index }}">
										{% for point in job.points %}
										<li class="job_highlight">{{ point }}</li>
										{% endfor %}
									</ul>
								</div>
							</div>
						</li>
						{% endfor %}
					</ul>
				</section>
				<section class="schools">
					<h2 class="schools_title" id="schools_title">
						<span class="schools_title_label">Education</span>
					</h2>
					<div class="school">
						<div class="school_header">
							<h3 class="school_name" id="school_name">{{ resume.education.name }}</h3>
							<p class="school_location">{{ resume.education.location }}</p>
							<p class="school_time">{{ resume.education.time }}</p>
						</div>
						<div class="school_body">
							<p class="school_highlights">{{ resume.education.degree }} <br>
							{{ resume.education.major }} <br>
							{% for point in resume.education.points %}
							<em>{{ point }}</em>
							{% endfor %}
							</p>
						</div>
					</div>
				</section>
				<section class="certifications">
					<h2 class="certifications_title">
						<span class="certifications_title_label">Certifications</span>
					</h2>
					<p class="certificate">{{ resume.certifications }}</p>
				</section>
				<section class="achievements">
					<h2 class="achievements_title" id="achievements_title">
						<span class="achievements_title_label">Awards</span>
					</h2>
					<ul class="achievements_list" aria-labelledby="achievements_title">
						{% for achievement in resume.achievements %}
						<li class="achievement">
							<div class="achievement_inner">
								<div class="achievement_header">
									<h3 class="achievement_site" id="achievements_site_{{ loop.index }}">
										<a class="achievement_link" href="{{ achievement.url }}" target="_blank" rel="noopener nofollow noreferrer">{{ achievement.site }}</a>
									</h3>
								</div>
								<ul class="awards" aria-labelledby="achievements_site_{{ loop.index }} achievements_title">
									{% for award in achievement.awards %}
									<li class="award">{{ award }}</li>
									{% endfor %}
								</ul>
							</div>
						</li>
						{% endfor %}
					</ul>
				</section>
				<section class="references">
					<h2 class="references_title">
						<span class="references_title_label">References</span>
					</h2>
					<p class="reference">{{ resume.references }}</p>
				</section>
			</main>
			<footer class="footer">
				<div class="footer_inner">
					<div class="connect">
						<h2 class="connect_title" id="connect_title">Connect with me:</h2>
						<ul class="connect_list" aria-labelledby="connect_title">
							{% for link in resume.links %}
							<li class="connect_item">
								<a class="connect_link" href="{{ link.url }}" target="_blank" rel="noopener nofollow noreferrer">
									<span class="connect_link_label">{{ link.name }}</span>
								</a>
							</li>
							{% endfor %}
						</ul>
					</div>
				</div>
			</footer>
		</div>

		<script data-goatcounter="https://nhall.goatcounter.com/count" async src="//gc.zgo.at/count.js"></script>
	</body>
</html>
